.react-lxl-tab {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #ddd;
    position: relative;
}
.react-lxl-tab .react-lxl-tabs {
    width: 120px;
    height: 40px;
    margin-right: 5px;
    text-align: center;
    line-height: 40px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: pointer;
    position: static;
}

.react-lxl-tabs.react-lxl-tabs-active {
    border-bottom: 2px solid #2295ff;
    transition: all .1s ease-in ;
    box-sizing: border-box;
}

.react-lxl-tab .react-lxl-tab-content {
    position: absolute;
    left: -1px;
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    border-top: none;
    display: none;
    text-align: left;
}

.react-lxl-tabs-active .react-lxl-tab-content {
    display: block;
}